.wordCountWritingArea{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid black;
}

.container{
    display: flex;
    justify-content: space-around;
    width: auto;
}

.font-size-container{
    border: 1px solid black;
    width: 20px;
    height: 30px;
}

.button-container{
    display: flex;
    justify-content: center;
}